a{
    cursor: pointer;
}
#space-table tbody { 
    height: 150px; 
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

#space-table thead, #space-table tbody { 
    display: block; 
    width: 100%;
}

#space-table tr{
    width: 100%;
    display: table;
}

.w-20p{
    width: 20% !important;
}

.w-auto{
    width: auto;
}
