<html>
    <head>
        <title>$i18n.getText("Space.Managemen.label")</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <!-- Insertion of Confluence Header -->
        <meta name="decorator" content="atl.general">
        #requireResource("com.example.plugins.sample.show-spaces:show-spaces-resources")
        #requireResource("com.atlassian.auiplugin:aui-experimental-table-sortable")
        #requireResource("com.atlassian.auiplugin:dialog2")
        #requireResource("com.atlassian.auiplugin:aui-form-validation")
        #requireResource("com.example.plugins.sample.show-spaces:plugin-resources")
    </head>
    <body>
        <div id="aui-message-bar"></div>
        <div>
            <table class="aui aui-table-sortable" id="space-table">
                <thead>
                    <tr>
                        <th class="w-20p">$i18n.getText("Space.Key")</th>
                        <th class="w-auto">$i18n.getText("Space.Name")</th>
                        <th class="w-20p">$i18n.getText("Space.Description")</th>
                        <th class="w-20p">$i18n.getText("Space.Category")</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach($value in $action.spaceList)
                    <tr>
                        <td class="w-20p"><a href="$req.contextPath$value.getUrlPath()">$value.getKey()</a></td>
                        <td class="w-auto"><a class="space-name" data-spacekey="$value.getKey()">$value.getName()</a></td>
                        <td class="w-20p">$value.getDescription().getBodyAsString()</td>
                        <td class="w-20p">
                            #foreach($label in $value.getDescription().getLabels())
                            <a class="aui-label space-label">$label.getName()</a>
                            #end
                        </td>
                    </tr>
                    #end
                </tbody>
            </table>
            <input type="button" class="aui-button aui-button-primary" id="goto-createspace-button" style="float: right; margin-top: 20px" value="$i18n.getText('Space.Create')">
        </div>
        <section id="createspace-popup" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true">
            <!--<form class="aui" method="POST" action="$req.contextPath/plugins/showSpace/create.action">-->
                <header class="aui-dialog2-header">
                    <h2 class="aui-dialog2-header-main">Create Space</h2>
                    <a class="aui-dialog2-header-close">
                        <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                    </a>
                </header>
                <div class="aui-dialog2-content">
                    <div class="field-group">
                        <label for="spaceName">Space Name
                            <span class="aui-icon icon-required">(required)</span></label>
                        <input class="text medium-field" type="text"
                               id="spaceName" name="spaceName" placeholder="Enter your space name" required="aaaa">
                    </div>

                    <div class="field-group">
                        <label for="spaceKey">Space Key
                            <span class="aui-icon icon-required">(required)</span></label>
                        <input class="text medium-field" type="text"
                               id="spaceKey" name="spaceKey" placeholder="Enter your space Key" required="aaaa" >
                    </div>

                    <div class="field-group">
                        <label for="des">Description</label>
                        <textarea class="textarea" name="comment-input"
                                  id="desc" placeholder="Enter Description here..."></textarea>
                    </div>
                </div>
                <footer class="aui-dialog2-footer">
                    <div class="aui-dialog2-footer-actions">
                        <button id="create-space" class="aui-button aui-button-primary creat-space" type="button">Create Space</button>
                        <button id="createspace-cancel" class="aui-button aui-button-link">Cancel</button>
                    </div>
                </footer>
            <!--</form>-->
        </section>
        
        <div id="list-page" style="margin-top: 30px"></div>
        <div id="list-attachment"></div>
        
            <section id="comment-dialog" class="aui-dialog2 aui-dialog2-medium aui-layer" role="dialog" aria-hidden="true" data-aui-modal="true">
            <form class="aui">
                    <header class="aui-dialog2-header">
                        <h2 class="aui-dialog2-header-main" id="title"></h2>
                        <a class="aui-dialog2-header-close">
                            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
                        </a>
                    </header>
                    <div class="aui-dialog2-content">
                        <div class="field-group">
                            <label for="textarea-id">Write Your Comment</label>
                            <textarea  name="comment-text" id="comment-text" placeholder="Your comment here..." aui-stop-typing data-aui-validation-field minlength="20" required="true"></textarea>
                            <input type="hidden" id="page-id" name="page-id">
                        </div>
                    </div>
                    <footer class="aui-dialog2-footer">
                        <div class="aui-dialog2-footer-actions">
                            <button id="comment-confirm" class="aui-button aui-button-primary" type="button">Post</button>
                            <button id="comment-cancel" class="aui-button aui-button-link">Cancel</button>
                        </div>
                    </footer>
            </form>
            </section>
        
        <div id="list-comment">
        </div>
    </body>
</html>
